body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    color: #333;
    background: #fff;
}

ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}


#userlist {
	margin: 80px auto;
	width: 300px;
	font-size: 1.5em;
}


#header {
	min-height: 35px;
	background-color: #225;
	color: #eee;
	margin: 0px;
}
#header #title {
	float: left;
	padding: 5px;
	font-size: 1.7em;
}

#header a {
	color:white;
}


#header #huh {
	float: right;
	padding: 10px;
}

.skip {
	text-align: center;
	margin-: 5px;
}

#content {
	position: relative;
	margin-bottom: 25px;
}

#counts {
	margin: 40px 70px 40px 70px;
}

.date {
	border: thin solid black;
	width: 150px;
	min-height: 150px;
	max-height: 300px;
	float: left;
	padding: 0px;
	
	position:relative;
	background-color: #ddd;
	overflow: hidden;
}

.date ul li {
	padding: 5px;
	margin: 0px;
	font-size: 1.2em;
}

.date h3 {
	padding: 2px;
	text-align: center;
	border-bottom: thin dashed black;
}

.date.first {
	background-color: #ccd;
	border: thin dashed black;
}

.bad {
	background-color:#FDD;
}

.note {
	font-style: italic;
}

.note:before { content: "\"";}
.note:after { content: "\"";}


#today {
	margin: 40px 70px 0px 70px;
	border: thin dashed black;
	background-color: #ccd;
	padding: 10px;
}

#static-content {
	width: 500px;
	height: 5em;
	margin: 100px auto 0 auto;
}

h1 { font-size: 1.7em; margin: .7em 0px .7em 0px;}
h2 { font-size: 1.5em; margin: .5em 0px .5em 0px;}
h3 { font-size: 1.3em; margin: .3em 0px .3em 0px;}
p { margin: .3em 0px .5em 0px;}