<html>
<head>
	<title>The Pushup Experiment</title>
	<meta name="viewport" content="user-scalable=no, width=device-width" />
	{% block scripts %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
	<script>
	$(document).ready(function() {
		$('.date').hover(function() { $(this).css('overflow','visible').css('z-index','100') },
			function() { $(this).css('overflow','hidden').css('z-index','0') }
		)
	})
	</script>
	{% endblock %}
	{% block css %}
	<link rel="stylesheet" type="text/css" 
	      href="{{MEDIA_URL}}css/base-iphone.css" media="only screen and (max-width: 480px)" />
	<link rel="stylesheet" type="text/css" 
	      href="{{MEDIA_URL}}css/base.css" media="screen and (min-width: 481px)" />
	{% endblock %}
</head>
<body>
	<div id="header">
		<div id="title"><a href="/">The Pushup Experiment</a></div>
		<div id="huh">
			<a href="{% url views.huh %}">Huh, what gives?</a>
			{% if user.is_staff %}
			<a href="/admin">Admin</a>
			{% endif %}	
		</div>
		
	</div>
	
	{% if messages %}
	<ul class="messages">
	    {% for message in messages %}
	    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    {% endfor %}
	</ul>
	{% endif %}
	
	<div id="content">{% block content %}
		Say hi:
		<a href="mailto:chris@codesideup.com">chris@codesideup.com</a>
		
	{% endblock %}</div>
</body>

</html>